@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, productForm: Form[Product])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

   <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>

    <!--<div class="container">-->
    <div class="container">
     <table class="table table-striped">
     <thead>
      <tr>
        <th>ref</th><th>name</th>
      </tr>
    </thead>

        <tbody id="products"> </tbody>

     </table>
   
       
        @helper.form(action = routes.ProductController.addProduct(), 'class -> "well form-horizontal") {
            @helper.inputText(productForm("refproduct"), '_label -> "ids")
            @helper.inputText(productForm("name"), '_label -> "names")
            @helper.inputText(productForm("picture"), '_label -> "picture")
            @helper.inputText(productForm("creationDate"), '_label -> "creation date")
            @helper.inputText(productForm("stock"), '_label -> "stock")
            <div class="controls">
                <input type="submit" class="btn btn-primary"/>
            </div>
        }
    </div>

}
